#####################
##  OWN GITIGNORE  ##
#####################
/Holololo/WindowsStoreApp
/Holololo/VisualProject
/Holololo/Library/CurrentLayout.dwlt
/Holololo/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
/Holololo/Library/ScriptAssemblies/Assembly-CSharp.dll
/Holololo/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/Holololo/Library/*.log